extends layout

block content
 .container
    .col-md-3
    .col-md-6
      h1 Register
      ul.errors
          if errors
              each error, i in errors
                  li.alert.alert-danger #{error.msg}
      form(method='post',action='/users/register',entype="multipart/form-data")
           .form-group
               label Name
               input.form-control(name='name', type='text', placeholder='Enter name')
           .form-group
               label Email
               input.form-control(name='email', type='email', placeholder='Enter email')
           .form-group
               label Username
               input.form-control(name='username', type='text', placeholder='Enter username')
           .form-group
               label Password
               input.form-control(name='password2', type='password', placeholder='Enter password')
           .form-group
               label Confirm password
               input.form-control(name='password', type='password', placeholder='Confirm password')
           .form-group
               label Profile image
               input.form-control(name='profileImage', type='file')
           input.btn.btn-success.pull-left(name='submit', type='submit' value="register")
      .col-md-3                   
       
