body {
  padding-top: 50px;
  font: 14px, Helvetica, Arial, sans-serif;
  font-weight: lighter;
}
/*index*/
.jumbotron{
  background: linear-gradient(to top right, #34b3a0 0%, #204056 100%);
  font-family:cursive;
  color: #fefefe;
}

/*about us*/
.marketing{
  margin: 5em auto;
  text-align: center;
}
.featurette{
  margin: 10em auto;
}
.featurette img{
  width: 500px;
  height: 400px;
  text-align: center;
}
/*contact*/
.contact{
  margin-top:2em;
}
.contact h1{
  text-align: center;
  margin-bottom: 1em;
  font-family: cursive;
}
/*footer*/
footer{
  margin-top: 5em;
  padding-top: 1em;
  text-align: center;
  color:#333;
}
