extends layout

block content
        .jumbotron
            .container
               h1 Theme example
               p
                 | This is a template showcasing the optional theme stylesheet included in Bootstrap. 
                 Use it as a starting point to create something more unique by building on or modifying it.
               button.btn.btn-primary(type='button') Learn more>>
        
           .container.info
             .row
               .col-md-4
                 h2 About us
                 p
                   | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                 p
                   a.btn.btn-default(href='#', role='button') View details »
               .col-md-4
                 h2 Contact me
                 p
                   | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                 p
                   a.btn.btn-default(href='#', role='button') View details »
               .col-md-4
                 h2 Production
                 p
                   | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                 p
                   a.btn.btn-default(href='#', role='button') View details »
